<!-- WISHLIST MODAL -->

<div id="wishlist" class="cart-drawer side-modal">
  <div class="cart-drawer-breakup">
    <div class="cart-drawer-close">
      <svg id="x" xmlns="http://www.w3.org/2000/svg" width="17.875" height="17.875" viewBox="0 0 17.875 17.875">
        <defs>
          <style>
            .cls-1 {
              fill: #fff;
              stroke: #000;
              stroke-width: 1px;
              fill-rule: evenodd;
            }
          </style>
        </defs>
        <path class="cls-1" d="M0.4,0.4L17.6,17.6" transform="translate(-0.063 -0.063)" />
        <path id="Shape_907_copy" data-name="Shape 907 copy" class="cls-1" d="M17.562,0.437L0.438,17.562"
          transform="translate(-0.063 -0.063)" />
      </svg>
    </div>
    <div class="cart-count">wishlist</div>

    <div class="cart-drawer-list">
      <div class="row">
        <div class="col-sm-16">

          <div class="col-sm-16">
            <div class="grid-list-40">
              <div class="grid-list-img">
                <a href="/product">
                  <img
                    src="https://cdn.shopify.com/s/files/1/0037/8925/8841/products/S45-19172-STL-1146_92f4d1a2-59fd-46b3-ba21-4b9d1a854d2a.jpg?v=1566862340">
                </a>
                <div class="grid-list-wrap d-flex flex-column justify-content-between">
                  <div class="grid-list-category">
                    <div class="product-sub-header">
                      <ul class="d-flex justify-content-between list-unstyled px-0">
                        <li></li>
                        <li class="ml-auto"><span data-item-id="22019767468121" class="remove">remove</span></li>
                      </ul>
                    </div>
                  </div>
                  <div class="grid-list-details">
                    <div class="product-heading">
                      <h1>STELLA BUTTON DOWN MIDI DRESS</h1>
                      <div data-price-wrapper=""> <span data-product-price="">3000 ₽</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>